/* stylelint-disable */
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?dtaj3w');
  src:
    url('fonts/icomoon.eot?dtaj3w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dtaj3w') format('truetype'),
    url('fonts/icomoon.woff?dtaj3w') format('woff'),
    url('fonts/icomoon.svg?dtaj3w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github1::before {
  content: "\e900";
}

.icon-github::before {
  content: "\eab0";
}
